{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('index') }}">Вернуться в список</a>
    <a href="{{ path('link_delete', {id: item.id}) }}">Удалить</a>
    <h1>{{ item.title }}</h1>
    <p>
        <b>Время создания:</b> {{ item.createdAt|date('d.m.Y H:i:s') }}
    </p>
    <p>
        <b>Favicon:</b> <img src="{{ item.favicon }}" alt="{{ item.title }}">
    </p>
    <p>
        <b>URL Страницы:</b> <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
    </p>
    <p>
        <b>Заголовок страницы: </b> {{ item.title }}
    </p>
    <p>
        <b>Meta description: </b> {{ item.metaDescription }}
    </p>
    <p>
        <b>Meta keywords: </b> {{ item.metaKeywords }}
    </p>
{% endblock body %}
