{% extends 'base.html.twig' %}
{% block body %}
    <h1>Тестовое задание</h1>
    <div>
        <a href="{{ path('link_save') }}">Добавить новую закладку</a>
        <a href="{{ path('export_to_excel') }}">Экспортировать в excel</a>
    </div>
    <div>
        <table border>
            <caption>Список закладок</caption>
            <tr>
                <th>
                    <a href="{{ path('index', {'sort_by': 'created_at', 'sort_direction': next_sort_direction}) }}">Дата добавления</a>
                </th>
                <th>Favicon</th>
                <th>
                    <a href="{{ path('index', {'sort_by': 'title', 'sort_direction': next_sort_direction}) }}">Заголовок страницы</a>
                </th>
                <th>
                    <a href="{{ path('index', {'sort_by': 'url', 'sort_direction': next_sort_direction}) }}">URL страницы</a>
                </th>
            </tr>
            {% for item in items %}
                <tr onclick="window.location.href='{{ path('link_detail', {id: item.id}) }}'" style="cursor: pointer">
                    <td>{{ item.createdAt|date('Y-m-d H:i:s')}}</td>
                    <td><img src="{{ item.favicon }}" alt="{{ item.title }}"></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.url }}</td>
                </tr>
            {% endfor %}
        </table>
        <span> <b>Текущая страница:</b>{{ page }}</span> <br>
        <span> <b>Всего страниц:</b>{{ total_pages }}</span><br>
        <span> <b>Всего записей:</b>{{ total_count }}</span>
        <nav>
            {% if (page > 1) %}
                <a href="{{ path('index', {'nav_page': page - 1, 'sort_by': sort_by, 'sort_direction': sort_direction}) }}">Назад</a>
            {% endif %}
            {% if (page < total_pages) %}
                <a href="{{ path('index', {'nav_page': page + 1, 'sort_by': sort_by, 'sort_direction': sort_direction}) }}">Вперед</a>
            {% endif %}
        </nav>
    </div>
{% endblock body %}
